.background_collor{
    background: #168dad;
}
.otstup{
    margin-left: 50px;
}
.perenos{
    margin:2px;
    padding:0px;
    width:1000px;
}
p{
    text-indent: 25px;
}
table{
    border-collapse: separate;
    border-spacing: 8px 3px;
}
ul{
    margin-left: 10px;
    padding-left: 15px;
}
ol{
    margin-left: 10px;
    padding-left: 15px;
}